/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
  .ms-skin-default .ms-nav-next, .ms-skin-default .ms-nav-prev,
  .ms-skin-light-2 .ms-nav-next, .ms-skin-light-2 .ms-nav-prev,
  .ms-skin-black-1 .ms-nav-next, .ms-skin-black-1 .ms-nav-prev,
  .ms-skin-black-2 .ms-nav-next, .ms-skin-black-2 .ms-nav-prev{
  visibility: hidden !important;
  }
 
  .ms-caption h1{
  font-size: 300% !important;
  }
  .ms-thumb-list.ms-dir-h{
  visibility: hidden !important;
  }
  .ms-caption p, .ms-caption ul{
   display: none !important;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 767px) and (max-width: 992px ) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px ) {
    .ms-bullets.ms-dir-h {
/*    visibility: hidden !important;*/
    }
}

/* default CSS */     

.ms-caption h1,
.ms-caption p,
.ms-caption ul,
.ms-caption li
{
 color: #fff;
}
.ms-caption ul li
{ list-style: inherit !important;}
.ms-layer.ms-caption p, 
.ms-layer.ms-caption h1,
.ms-layer.ms-caption a {
/*    margin-left: 10%;*/
}
.ms-layer.ms-caption {
    padding-left: 3% !important;
    visibility: visible !important;
    display: inline !important;
}
.ms-caption > .slider-button{
  font: 600 16px "proxima-nova-extra-condensed", sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  color: #333;
  display: inline-block;
  background: #ffe7ad;
  padding: 6px 7px 5px 7px !important;
  border-radius: 0px;
  -moz-border-radius: 0px;
  /* -webkit-border-radius: 5px; */
  -o-border-radius: 0px;
  margin-top: 1%;
  position: relative;
}
.slider_thumb{
 float: right;
}

 .ms-skin-default .ms-slide .ms-slide-vpbtn, .ms-skin-default .ms-video-btn{
 right: 25%;
 left: initial;
}  
.ms-anim-layers{
  display: inline !important;
/*     visibility: visible !important;*/
}

/*BANNER FULL-WIDTH SLIDER WITH THUMB*/
#masterslider_1 .ms-thumbs-cont{
 float: right;
 position: initial !important;
 margin-right: 10%;
 
}  
.ms-thumb-frame img {
   width: 57px !important;
   height: 41px !important;
}


/*BANNER PARTIAL VIEW SLIDER*/  
#masterslider_2 .ms-nav-prev{
  left: 91%;
  float: right;
  bottom: 2%;
  background-size: inherit;
  top: initial;
  background-position: -89px -28px;
  height: 35px;
  width: 35px;
}
#masterslider_2 .ms-nav-next{
  right: 17px;
  bottom: 2%;
  top: initial;
  height: 35px;
  width: 35px;
  background-position: -87px -106px;
}
#masterslider_2 .ms-slide{
-webkit-filter: brightness(0.5);
filter: brightness(0.5);
}
   
 #masterslider_2 .ms-sl-selected{
-webkit-filter: brightness(1);
filter: brightness(1);
}

/*BANNER NORMAL SLIDER 1*/

/*
 #masterslider_3 .ms-nav-prev{
    left: -7%;
 }
 #masterslider_3 .ms-nav-next{
    right: -7%;
}*/
#masterslider_3 .ms-nav-prev{
  left: 91%;
  float: right;
  bottom: 2%;
  background-size: inherit;
  top: initial;
  background-position: -89px -28px;
  height: 35px;
  width: 35px;
}
#masterslider_3 .ms-nav-next{
  right: 17px;
  bottom: 2%;
  top: initial;
  height: 35px;
  width: 35px;
  background-position: -87px -106px;
}
.ms-skin-black-1 .ms-slide .ms-slide-vpbtn, .ms-skin-black-1 .ms-video-btn{
  background: url(./images/light-skin-1.png) no-repeat -14px -150px !important;
}