/* FEAURES ***************************** */
/* ----- s-box------------- */
/* line 4, ../sass/feature.scss */
.s-box_wrap,
.s-box-wrap {
  padding-left: 1%;
  padding-right: 1%;
}
/* line 8, ../sass/feature.scss */
.s-box_wrap :hover,
.s-box-wrap :hover {
  background: none repeat scroll 0 0 #f5f5f5;
}

/* line 13, ../sass/feature.scss */
.s-box {
  background: none repeat scroll 0 0 #fff;
  border-top: 3px solid #666;
  box-shadow: 0 1px 0 1px #ccc, 0 0 8px 0 #ccc;
  margin-bottom: 2em;
  min-height: 320px;
}
/* line 20, ../sass/feature.scss */
.s-box .content {
  padding: 10px 15px;
}
/* line 24, ../sass/feature.scss */
.s-box h4, .s-box h4 a {
  color: #9a7a49;
  letter-spacing: 1px;
  text-transform: uppercase;
  font: 400 1.3em "proxima-nova-extra-condensed",sans-serif;
  line-height: 21px;
}
/* line 32, ../sass/feature.scss */
.s-box h4, .s-box h4 a:hover {
  text-decoration: none;
}
/* line 37, ../sass/feature.scss */
.s-box small {
  color: #999;
}
/* line 40, ../sass/feature.scss */
.s-box .type {
  background-color: #ddd;
  color: #FFFFFF;
  font: 9px "myriad-pro",sans-serif;
  padding: 0px 5px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 3px;
  margin-top: 0;
}

/* line 53, ../sass/feature.scss */
.caption {
  font-style: normal;
  margin-bottom: 0px;
}

/* line 58, ../sass/feature.scss */
.faculty.listings .block-header {
  display: none;
}

/* line 60, ../sass/feature.scss */
h1#page-title {
  margin-top: 0px;
}

/* line 62, ../sass/feature.scss */
.btn-primary {
  background: #102b72;
  color: #ffffff;
  border: #102b72;
}

/* line 68, ../sass/feature.scss */
.btn-primary:active,
.btn-primary.active,
.btn-primary:hover {
  background: #9a7a49;
  border: #9a7a49;
}

/* line 75, ../sass/feature.scss */
.btn-feature {
  background: #9a7a49;
  color: #ffffff;
  border: #9a7a49;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  letter-spacing: 1px;
  line-height: 1.2em;
  zoom: 1;
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 8px 20px;
}

/* line 88, ../sass/feature.scss */
table.borderless,
table.borderless td,
table.borderless tr {
  border: 0px none !important;
}

/* Events Listing*/
/* line 3, ../sass/listing/_events.scss */
.view-events .views-row {
  border-top: 1px solid #D8D8D8;
}
/* line 9, ../sass/listing/_events.scss */
.view-events .date-wrapper {
  background: #102B72;
  color: #fff;
  text-align: center;
  float: left;
  padding: 0.5em 1em;
  margin-right: 0em;
  text-transform: uppercase;
  display: table-cell;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  width: 7%;
}
/* line 21, ../sass/listing/_events.scss */
.view-events .date-wrapper ul {
  padding: 0;
  margin: 0;
}
/* line 26, ../sass/listing/_events.scss */
.view-events .date-wrapper li, .view-events .date-wrapper li.last {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 32, ../sass/listing/_events.scss */
.view-events .date-wrapper .views-field-field-event-date-2 {
  font-size: 2em;
  line-height: 1.2em;
}
/* line 38, ../sass/listing/_events.scss */
.view-events .content-wrapper {
  float: left;
  width: 93%;
}
/* line 42, ../sass/listing/_events.scss */
.view-events .content-wrapper .views-field-field-image {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 0.5em;
}
/* line 48, ../sass/listing/_events.scss */
.view-events .content-wrapper .title-wrapper {
  float: left;
  padding: 1.5em 0px 1.5em 15px;
}
/* line 53, ../sass/listing/_events.scss */
.view-events .content-wrapper .image-wrapper {
  float: left;
  padding: 1.5em 0px 1.5em 15px;
}
/* line 59, ../sass/listing/_events.scss */
.view-events .content-wrapper .views-field-title h3 {
  margin-bottom: 0.25em;
}

/* line 66, ../sass/listing/_events.scss */
.views-exposed-form .views-widget-filter-field_event_category_tid {
  width: 100%;
}
/* line 70, ../sass/listing/_events.scss */
.views-exposed-form .form-type-date-select, .views-exposed-form .date-padding, .views-exposed-form .form-type-select {
  width: 100%;
}

/* End Events Listing */
/* News Listing*/
/* line 3, ../sass/listing/_news.scss */
.view-news .views-row {
  border-top: 1px solid #D8D8D8;
}
/* line 7, ../sass/listing/_news.scss */
.view-news .content-wrapper {
  float: none;
  padding: 1.5em 0 1.5em 0;
  display: table-cell;
}
/* line 12, ../sass/listing/_news.scss */
.view-news .content-wrapper .views-field-field-image {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 0.5em;
}
/* line 18, ../sass/listing/_news.scss */
.view-news .content-wrapper .title-wrapper {
  float: left;
}
/* line 23, ../sass/listing/_news.scss */
.view-news .content-wrapper .views-field-title h3 {
  margin-bottom: 0.25em;
}

/* line 30, ../sass/listing/_news.scss */
.node-type-news .field-type-image img {
  max-width: 100% !important;
  height: auto !important;
}
/* line 34, ../sass/listing/_news.scss */
.node-type-news a, .node-type-news a:hover, .node-type-news a:focus {
  word-wrap: inherit !important;
}
/* line 37, ../sass/listing/_news.scss */
.node-type-news .field-type-link-field {
  width: 100%;
  overflow: hidden;
  max-width: 100%;
}

/* End News Listing */
/* Search result Listing*/
/* line 1, ../sass/listing/_search.scss */
.page-search #content .tabs {
  display: none;
}

/*GCSE*/
/* line 6, ../sass/listing/_search.scss */
#googlecse-result table {
  border-spacing: 0;
  border-collapse: separate;
}
/* line 10, ../sass/listing/_search.scss */
#googlecse-result td {
  border: 0px !important;
  border-collapse: separate;
}

/* End Search result Listing */
/* Isotope Listing*/
/* line 1, ../sass/listing/_isotope.scss */
.posts {
  margin: 30px auto 0;
}

/* line 4, ../sass/listing/_isotope.scss */
.post {
  margin: 0 0 2px;
  text-align: center;
  max-width: 100%;
}

/* line 9, ../sass/listing/_isotope.scss */
.post img {
  padding: 0px;
  max-width: 100%;
}

/* line 13, ../sass/listing/_isotope.scss */
.post_hover {
  padding: 0px;
  position: relative;
  overflow: hidden;
}

/* line 18, ../sass/listing/_isotope.scss */
.post_hover:hover .caption {
  opacity: 1;
  transform: translateY(-150px);
  -webkit-transform: translateY(-150px);
  -moz-transform: translateY(-150px);
  -ms-transform: translateY(-150px);
  -o-transform: translateY(-150px);
}

/* line 26, ../sass/listing/_isotope.scss */
.post_hover:hover .caption-text {
  top: 15px;
}

/* line 29, ../sass/listing/_isotope.scss */
.post_hover img {
  z-index: 4;
}

/* line 32, ../sass/listing/_isotope.scss */
.post_hover .caption {
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

/* line 42, ../sass/listing/_isotope.scss */
.post_hover .blur {
  background-color: rgba(0, 0, 0, 0.7);
  height: 176px;
  z-index: 5;
  position: absolute;
  width: 100%;
}

/* line 49, ../sass/listing/_isotope.scss */
.post_hover .caption-text {
  z-index: 10;
  color: #fff;
  position: absolute;
  text-align: center;
  font-style: normal;
  top: -6px;
  width: 100%;
  overflow: hidden;
  padding: 0px 3px;
}

/* line 60, ../sass/listing/_isotope.scss */
.post_hover .caption-text {
  line-height: 13px;
}

/* line 63, ../sass/listing/_isotope.scss */
.post_hover .caption-text h4,
.post_hover .caption-text h3,
.post_hover .caption-text h5 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

/* line 70, ../sass/listing/_isotope.scss */
.post_hover .caption-text h4 a,
.post_hover .caption-text h3 a,
.post_hover .caption-text h5 a,
.post_hover .caption-text h4 a:hover,
.post_hover .caption-text h3 a:hover,
.post_hover .caption-text h5 a:hover {
  color: #fff;
}

/*isotope*/
/* ---- isotope ---- */
/* ---- button ---- */
/* line 83, ../sass/listing/_isotope.scss */
.button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

/* line 98, ../sass/listing/_isotope.scss */
.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
  color: #222;
}

/* line 104, ../sass/listing/_isotope.scss */
.button:active,
.button.is-checked {
  background-color: #28F;
}

/* line 109, ../sass/listing/_isotope.scss */
.button.is-checked {
  color: white;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
}

/* line 114, ../sass/listing/_isotope.scss */
.button:active {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.8);
}

/* ---- button-group ---- */
/* line 120, ../sass/listing/_isotope.scss */
.button-group:after {
  content: '';
  display: block;
  clear: both;
}

/* line 126, ../sass/listing/_isotope.scss */
.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

/* line 133, ../sass/listing/_isotope.scss */
.button-group .button:first-child {
  border-radius: 0.5em 0 0 0.5em;
}

/* line 134, ../sass/listing/_isotope.scss */
.button-group .button:last-child {
  border-radius: 0 0.5em 0.5em 0;
}

/* ---- isotope ---- */
/* line 143, ../sass/listing/_isotope.scss */
.btn-isotope {
  background: #9a7a49;
  color: #ffffff;
  border: #9a7a49;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  letter-spacing: 1px;
  line-height: 1.2em;
  zoom: 1;
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 8px 20px;
}

/* line 156, ../sass/listing/_isotope.scss */
.btn-isotope.is-checked {
  background: #102b72;
}

/* line 159, ../sass/listing/_isotope.scss */
.btn-primary:active,
.btn-primary.active,
.btn-primary:hover {
  background: #102b72;
  color: #ffffff;
  border: #102b72;
}

/* line 166, ../sass/listing/_isotope.scss */
.isotope-grid .views-field-type,
.isotope-grid .views-field-event-date {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  letter-spacing: 1px;
  line-height: 1.2em;
  zoom: 1;
}

/* line 174, ../sass/listing/_isotope.scss */
.isotope-grid .views-field-title h3 {
  text-transform: uppercase;
  color: #997d4e;
  line-height: 1em;
}

/* line 179, ../sass/listing/_isotope.scss */
.isotope-grid .views-field-event-date {
  text-align: center;
  text-transform: uppercase;
  background: #102b72;
  background: rgba(16, 43, 114, 0.9);
  color: #fff;
  font-weight: 200;
  position: absolute;
  top: 0;
  left: 1em;
  width: 4em;
  height: 5em;
  padding: 0;
}

/* line 193, ../sass/listing/_isotope.scss */
.isotope-grid .s-event-day {
  position: absolute;
  top: 0.85em;
  left: 0;
  width: 100%;
  font-size: 3em;
}

/* line 200, ../sass/listing/_isotope.scss */
.isotope-grid .s-event-month {
  position: absolute;
  top: 0.4em;
  left: 0;
  width: 100%;
}

/* line 206, ../sass/listing/_isotope.scss */
.isotope-grid .views-field-type {
  margin: 0.75em 0 0.5em;
  text-transform: uppercase;
}

/*end isotope*/
/* End Isotope Listing */
/* carousel Listing*/
/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
  /* line 4, ../sass/listing/_carousel.scss */
  table {
    width: 100% !important;
  }

  /* line 7, ../sass/listing/_carousel.scss */
  .carousel-inner .active.left {
    left: -100%;
  }

  /* line 8, ../sass/listing/_carousel.scss */
  .carousel-inner .next {
    left: 100%;
  }

  /* line 9, ../sass/listing/_carousel.scss */
  .carousel-inner .prev {
    left: -100%;
  }

  /*.active > div { display:none; }*/
  /* line 11, ../sass/listing/_carousel.scss */
  .active > div:first-child {
    display: block;
  }

  /* line 12, ../sass/listing/_carousel.scss */
  .item > div > a > img {
    width: auto !important;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 767px) and (max-width: 992px) {
  /* line 19, ../sass/listing/_carousel.scss */
  .carousel-inner .active.left {
    left: -50%;
  }

  /* line 20, ../sass/listing/_carousel.scss */
  .carousel-inner .next {
    left: 50%;
  }

  /* line 21, ../sass/listing/_carousel.scss */
  .carousel-inner .prev {
    left: -50%;
  }

  /* line 22, ../sass/listing/_carousel.scss */
  .active > div {
    display: none;
  }

  /* line 23, ../sass/listing/_carousel.scss */
  .active > div:first-child {
    display: block;
  }

  /* line 24, ../sass/listing/_carousel.scss */
  .active > div:first-child + div {
    display: block;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
  /* line 29, ../sass/listing/_carousel.scss */
  .carousel-inner .active.left {
    left: -25%;
  }

  /* line 30, ../sass/listing/_carousel.scss */
  .carousel-inner .next {
    left: 25%;
  }

  /* line 31, ../sass/listing/_carousel.scss */
  .carousel-inner .prev {
    left: -25%;
  }
}
/* line 34, ../sass/listing/_carousel.scss */
.carousel-control {
  /* width: 11%; */
}

/* line 37, ../sass/listing/_carousel.scss */
.carousel-inner .item .item-inner {
  padding: 5% 5% !important;
}

/* line 40, ../sass/listing/_carousel.scss */
.carousel-control {
  width: 0%;
}

/* line 41, ../sass/listing/_carousel.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none;
  color: #333;
}

/* line 42, ../sass/listing/_carousel.scss */
.item > div > a > img {
  max-width: 220px;
  margin: auto;
}

/* line 47, ../sass/listing/_carousel.scss */
.carousel-wrap > div > div > h2 {
  color: #006c85;
}

/* line 50, ../sass/listing/_carousel.scss */
.item-inner > div > div > h1 {
  text-transform: initial;
  font-size: 300%;
}

/* End carousel Listing */
/* webform Listing*/
/* line 3, ../sass/listing/_form.scss */
.node-type-webform input.form-text,
.node-type-webform select.form-select {
  min-width: 380px;
}
/* line 8, ../sass/listing/_form.scss */
.node-type-webform input[type=file] {
  display: inline;
}
/* line 11, ../sass/listing/_form.scss */
.node-type-webform .form-type-radio label {
  display: inline;
}
/* line 15, ../sass/listing/_form.scss */
.node-type-webform fieldset {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  margin-bottom: 32px;
  margin-top: 10px;
  padding: 0 0 10px;
  position: relative;
  top: 12px;
}
/* line 26, ../sass/listing/_form.scss */
.node-type-webform fieldset .fieldset-wrapper {
  padding: 10px;
}
/* line 30, ../sass/listing/_form.scss */
.node-type-webform fieldset legend {
  background: none repeat scroll 0 0 #DBDBDB;
  border-color: #CCCCCC #CCCCCC -moz-use-text-color;
  border-image: none;
  border-style: solid solid none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #3B3B3B;
  display: block;
  font-size: 16px;
  font-weight: bold;
  height: 2em;
  left: -1px;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #FFFFFF;
  top: -12px;
  width: 100%;
}

/* End webform Listing */
/* Workflow Listing*/
/* line 122, ../sass/feature.scss */
.view-workflow-content table {
  width: 100%;
}

/* End Workflow Listing */
