/* FOOTER ********************************* */
/* ----- Fat Footer ------------------ */
/* line 6, ../sass/footer.scss */
#footer {
  background: none repeat scroll 0 0 #edeee8;
  border-top: 2px solid #666;
  margin-top: 0px;
  padding: 2em 0 6em;
}
/* line 12, ../sass/footer.scss */
#footer h2 {
  text-transform: uppercase;
  line-height: initial;
  letter-spacing: 1.5px;
  font: 600 18px/22px "proxima-nova-extra-condensed",sans-serif;
}
/* line 19, ../sass/footer.scss */
#footer a, #footer h3 {
  color: #666;
  font-family: "myriad-pro",sans-serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.4em;
}
/* line 26, ../sass/footer.scss */
#footer a:hover {
  color: #333;
  text-decoration: none;
}
/* line 31, ../sass/footer.scss */
#footer a span {
  display: none;
}
/* line 35, ../sass/footer.scss */
#footer .social-menu li {
  display: inline;
  line-height: 17px;
}
/* line 40, ../sass/footer.scss */
#footer ul.social-menu {
  padding-left: 0px;
  float: none;
  margin-bottom: 0px;
}
/* line 48, ../sass/footer.scss */
#footer .social-menu a, #footer .social-menu .fa {
  display: inline-block;
  padding: 0px 1px;
  font-size: 38px;
  color: #ccc;
}
/* line 54, ../sass/footer.scss */
#footer .social-menu a:hover,
#footer .social-menu .fa:hover {
  color: #333;
}
/* line 60, ../sass/footer.scss */
#footer .btn,
#footer .btn:hover {
  margin: auto;
  padding: 6px 12px;
  min-width: inherit !important;
  box-shadow: none;
}

/* line 69, ../sass/footer.scss */
.site-footer {
  margin-bottom: 0px;
}

/* line 73, ../sass/footer.scss */
#footer-bar {
  background: none repeat scroll 0 0 #aaa;
  bottom: 0;
  position: fixed;
  vertical-align: middle;
  width: 100%;
  margin-top: 3em;
  padding: 5px 0px;
  font-size: 11px;
  z-index: 99;
  color: white;
  height: 50px;
}
/* line 87, ../sass/footer.scss */
#footer-bar a, #footer-bar #copyright {
  color: white;
}

/* line 93, ../sass/footer.scss */
.back-to-top {
  position: fixed;
  bottom: 4em;
  right: 0px;
  text-decoration: none;
  color: #000000;
  background-color: rgba(170, 170, 170, 0.8);
  font-size: 12px;
  padding: 0.3em;
  display: none;
  z-index: 9999;
}
/* line 106, ../sass/footer.scss */
.back-to-top :hover {
  background-color: rgba(135, 135, 135, 0.5);
}
