/* ----- Header Region --------------- */
/* line 2, ../sass/_header.scss */
.header {
  margin: 10px 0 10px;
}

/* ----- Search Box ------------------ */
/* line 8, ../sass/_header.scss */
#nav-search #smu-navbar-collapse-search {
  margin: 15px 0px;
}
/* line 12, ../sass/_header.scss */
#nav-search .content {
  padding: 0px;
}
/* line 15, ../sass/_header.scss */
#nav-search #searchdropdown li {
  font-size: 12px;
}
/* line 18, ../sass/_header.scss */
#nav-search .input-group .form-control {
  /*width:auto;*/
}

/* line 21, ../sass/_header.scss */
.navbar-collapse.in {
  overflow-y: inherit;
}

/* line 27, ../sass/_header.scss */
.global-search table, .global-search td, .global-search tr {
  border-collapse: separate;
  border-spacing: 0;
  border: none;
}
/* line 32, ../sass/_header.scss */
.global-search .gsc-input {
  padding-right: 0px;
  padding: 0px !important;
  width: 125px !important;
}
/* line 37, ../sass/_header.scss */
.global-search .gsc-input-box {
  height: 32px !important;
}
/* line 40, ../sass/_header.scss */
.global-search td.gsc-search-button {
  /*display:none !important;*/
  width: auto;
}
/* line 44, ../sass/_header.scss */
.global-search input.gsc-search-button-v2 {
  height: 30px !important;
  width: auto !important;
}

/* line 49, ../sass/_header.scss */
.smu-logo {
  float: left;
}

/* line 50, ../sass/_header.scss */
.region-top-logo {
  float: right;
}

/* line 51, ../sass/_header.scss */
.region-top-logo img {
  width: 158px;
  float: right;
}

/* line 54, ../sass/_header.scss */
.switcher a {
  background: url("/sites/all/themes/smubase/images/SwitcherArrow.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 19px;
  line-height: 10px;
  text-indent: -9999px;
  width: 20px;
}

/* line 64, ../sass/_header.scss */
.popover {
  z-index: 99;
}
/* line 68, ../sass/_header.scss */
.popover .popover-content ul {
  padding-left: 0px !important;
}
/* line 71, ../sass/_header.scss */
.popover .popover-content ul.popover-sub {
  padding-left: 15px !important;
}
/* line 74, ../sass/_header.scss */
.popover .popover-content ul li {
  min-width: 100px;
  list-style: none;
  font: 14px/1.5 "myriad-pro",sans-serif;
}

/* line 81, ../sass/_header.scss */
#header-one {
  border-bottom: 1px solid #f1f1f1;
  line-height: 35px;
}
/* line 88, ../sass/_header.scss */
#header-one .social-menu a {
  font-size: 1.2em;
  padding: 0 10px;
  color: #333;
}
/* line 93, ../sass/_header.scss */
#header-one .social-menu a:hover {
  color: #1a3b91;
}
/* line 97, ../sass/_header.scss */
#header-one button {
  border: 0px !important;
  background: transparent;
}
/* line 101, ../sass/_header.scss */
#header-one .dropdown-menu > li > a {
  width: 100%;
}

/* ----- Lists ----------------------- */
/* line 2, ../sass/_front.scss */
.front ul li {
  list-style: none;
}

/* line 5, ../sass/_front.scss */
.front #main {
  background: none repeat scroll 0 0 white;
  border-top: 2px solid #e7e7e7;
}

/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */
/* line 4, ../sass/_menu.scss */
.navbar {
  min-height: inherit;
  margin-top: 10px;
  background-image: none;
  background-repeat: no-repeat;
  border-radius: inherit;
  box-shadow: none;
  background-color: transparent;
  border: none;
  margin-bottom: 0px;
  z-index: 99;
}
/* line 16, ../sass/_menu.scss */
.navbar .nav > li > a,
.navbar .nav > li > span {
  color: #333;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px 12px 4px 12px;
  line-height: 17px;
  cursor: pointer;
}
/* line 28, ../sass/_menu.scss */
.navbar .nav > li > span.nolink {
  display: block;
}
/* line 31, ../sass/_menu.scss */
.navbar .navbar-nav {
  clear: both;
}
/* line 32, ../sass/_menu.scss */
.navbar .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
/* line 36, ../sass/_menu.scss */
.navbar .navbar-toggle {
  background-color: #092556;
  color: white;
}
/* line 41, ../sass/_menu.scss */
.navbar .navbar-collapse {
  clear: both;
}
/* line 44, ../sass/_menu.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background-color: transparent;
  box-shadow: none;
}
/* line 50, ../sass/_menu.scss */
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  background-color: #e7e7e7 !important;
  color: #9a7a49;
  background-image: none;
  box-shadow: none;
}
/* line 58, ../sass/_menu.scss */
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #9a7a49;
  background-color: transparent !important;
}
/* line 66, ../sass/_menu.scss */
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a.active,
.navbar .navbar-nav > li > a.active-trail,
.navbar .navbar-nav > li > span:hover,
.navbar .navbar-nav > li > span:focus,
.navbar .navbar-nav > li > span.active,
.navbar .navbar-nav > li > span.active-trail {
  background-color: #e7e7e7;
  color: #9a7a49;
}
/* line 78, ../sass/_menu.scss */
.navbar .dropdown-menu {
  border-radius: inherit;
  border: 0 none;
  z-index: 9999;
  min-width: 185px;
  box-shadow: inherit;
}
/* line 87, ../sass/_menu.scss */
.navbar li > a:hover,
.navbar li > a:focus {
  background-color: #e7e7e7;
  background-image: none;
  text-decoration: none;
}
/* line 94, ../sass/_menu.scss */
.navbar ul.menu li.leaf,
.navbar ul li.collapsed,
.navbar ul li.expanded {
  list-style-image: none !important;
  list-style-type: none !important;
  margin: 0px;
  padding: 0.2em 0.15em 0 0;
}

/* line 105, ../sass/_menu.scss */
.navbar-left {
  float: right !important;
}

/* Slide Menu ************************* */
/* line 110, ../sass/_menu.scss */
#slide-menu-wrapper {
  border-top: 2px solid #333;
}
/* line 114, ../sass/_menu.scss */
#slide-menu-wrapper .slide-menu {
  background: #333;
  color: white;
  height: auto;
}
/* line 119, ../sass/_menu.scss */
#slide-menu-wrapper .slide {
  margin: 0;
  padding: 0;
  border-top: solid 4px #333;
}
/* line 125, ../sass/_menu.scss */
#slide-menu-wrapper .btn-slide {
  display: block;
  float: right;
  height: 25px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 100px;
  background: #333;
  color: white;
  font-family: proxima-nova-extra-condensed;
  font-size: 17px;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}
/* line 142, ../sass/_menu.scss */
#slide-menu-wrapper .slide-menu ul {
  padding-left: 17px;
  list-style: inherit;
}
/* line 146, ../sass/_menu.scss */
#slide-menu-wrapper .slide-menu ul a {
  color: white;
}
/* line 149, ../sass/_menu.scss */
#slide-menu-wrapper .slide-menu ul a:hover, #slide-menu-wrapper .slide-menu ul a:focus {
  color: #f4f4f4;
  text-decoration: none;
}

/* ----- Breadcrumbs ----------------- */
/* line 159, ../sass/_menu.scss */
.breadcrumb {
  background-color: transparent;
  border-radius: 4px;
  list-style: outside none none;
  margin-bottom: 0px;
  padding: 8px 0px;
}

/* ----- First Sidebar Menu Blocks --- */
/* line 2, ../sass/_region.scss */
.sidebar {
  /* ul.side-dropdown-menu li.dropdown-submenu a, */
}
/* line 4, ../sass/_region.scss */
.sidebar .col-md-12 {
  padding-left: 0px;
}
/* line 7, ../sass/_region.scss */
.sidebar .row {
  margin-right: auto;
}
/* line 10, ../sass/_region.scss */
.sidebar .nav {
  margin-left: 0px;
}
/* line 13, ../sass/_region.scss */
.sidebar ul.menu ul {
  padding-left: 15px;
}
/* line 16, ../sass/_region.scss */
.sidebar ul li.leaf {
  list-style: none;
}
/* line 20, ../sass/_region.scss */
.sidebar ul.menu li a,
.sidebar ul.menu li span {
  border-top: 1px solid #ccc;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-size: 1.3em;
  color: #333;
  font-weight: bold;
  padding: 5px 5px;
  text-decoration: none;
  display: inline-block;
  width: 90%;
}
/* line 32, ../sass/_region.scss */
.sidebar ul.menu li a:hover,
.sidebar ul.menu li a.active {
  color: #00467f;
  text-decoration: none;
}
/* line 38, ../sass/_region.scss */
.sidebar ul.side-dropdown-menu li a,
.sidebar ul.side-dropdown-menu li span {
  font-size: 14px;
  font-weight: bold;
  font-family: "myriad-pro", sans-serif;
}
/* line 45, ../sass/_region.scss */
.sidebar ul.side-dropdown-menu li span,
.sidebar ul.side-dropdown-menu li > ul.side-dropdown-menu li span {
  cursor: pointer;
}
/* line 50, ../sass/_region.scss */
.sidebar ul.menu li > ul.side-dropdown-menu li.expanded a,
.sidebar ul.menu li > ul.side-dropdown-menu li.expanded span {
  cursor: pointer;
  background: url("/sites/all/themes/smu/images/ico_arrow_right.png") 100% 50% no-repeat scroll transparent;
}
/* line 56, ../sass/_region.scss */
.sidebar ul.menu li > ul.side-dropdown-menu li.open span,
.sidebar ul.menu li > ul.side-dropdown-menu li.open a {
  cursor: pointer;
  background: url("/sites/all/themes/smu/images/ico_arrow_right_down.png") 100% 50% no-repeat scroll transparent;
}
/* line 62, ../sass/_region.scss */
.sidebar ul.side-dropdown-menu li > ul.side-dropdown-menu li a,
.sidebar ul.side-dropdown-menu li > ul.side-dropdown-menu li span {
  background: none !important;
  font-weight: normal;
}
/* line 69, ../sass/_region.scss */
.sidebar ul.side-dropdown-menu li > ul.side-dropdown-menu li a.active {
  font-weight: bold;
}
/* line 77, ../sass/_region.scss */
.sidebar li.expanded, .sidebar li.collapsed, .sidebar li.leaf {
  padding: 0.2em 0 0 0;
}
/* line 81, ../sass/_region.scss */
.sidebar h2 {
  margin-bottom: 10px;
  font-size: 26px;
}
/* line 86, ../sass/_region.scss */
.sidebar ul.side-dropdown-menu li.dropdown-submenu,
.sidebar ul.menu li.collapsed,
.sidebar ul.side-dropdown-menu li.collapsed {
  list-style-image: none;
  list-style-type: none;
}
/* line 94, ../sass/_region.scss */
.sidebar ul.side-dropdown-menu li.collapsed a,
.sidebar ul.menu li.collapsed a {
  background: url("/sites/all/themes/smu/images/listing-filter-hover.png") no-repeat scroll right transparent;
}

/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* line 103, ../sass/_region.scss */
#admin-shortcuts {
  display: none;
}

/* line 106, ../sass/_region.scss */
.not-front .sidebar .block {
  margin-bottom: 10px;
}

/* ----- Pager Nav ------------------- */
/* END SIDEBARS ******************************* */
/* CONTENT ******************************** */
/* line 115, ../sass/_region.scss */
#main {
  background: none repeat scroll 0 0 #f1f1f1;
  border-top: 2px solid #ccc;
  margin-bottom: 0px;
}

/* line 120, ../sass/_region.scss */
#main .block {
  margin-bottom: 0px;
}

/* line 123, ../sass/_region.scss */
#main-top {
  background: none repeat scroll 0 0 #f1f1f1;
}

/* line 126, ../sass/_region.scss */
#main-upper {
  background: none repeat scroll 0 0 #f3f3f3;
  border-top: 3px solid #cccccc;
}

/* line 132, ../sass/_region.scss */
#main-lower,
#main-bottom,
#main-bottom-2,
#main-bottom-3,
#main-bottom-4 {
  border-top: 2px solid #666;
}

/* line 139, ../sass/_region.scss */
#main-lower .region-main-lower,
#main-bottom .region-main-bottom,
#main-bottom-2 .region-main-bottom-2,
#main-bottom-3 .region-main-bottom-3,
#main-bottom-4 .region-main-bottom-4 {
  padding: 2em 0px;
}

/* line 145, ../sass/_region.scss */
#content-upper {
  border-bottom: 1px solid #ddd;
}

/* line 148, ../sass/_region.scss */
#content-lower {
  border-top: 1px solid #ddd;
  padding-top: 1em;
}

/* line 152, ../sass/_region.scss */
#content-body {
  margin-bottom: 30px;
}

/* line 155, ../sass/_region.scss */
hr {
  clear: both;
  border: none;
  background: #ddd;
  height: 1px;
}

/* VIEWS ********************************** */
/* line 4, ../sass/_views.scss */
.views-exposed-form label {
  font-weight: bold;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-size: 18px;
}
/* line 9, ../sass/_views.scss */
.views-exposed-form .views-exposed-widget {
  padding-top: 5px;
  padding-right: 5px;
  width: 100%;
}
/* line 14, ../sass/_views.scss */
.views-exposed-form input,
.views-exposed-form select {
  width: 100%;
  border: 1px solid #ddd;
}
/* line 19, ../sass/_views.scss */
.views-exposed-form .form-submit {
  width: 100%;
}

/* line 24, ../sass/_views.scss */
.wkf-message table {
  width: 100%;
}

/* line 27, ../sass/_views.scss */
.view-youtube-feed .views-row {
  margin-bottom: 1.25em;
}

/* line 30, ../sass/_views.scss */
.views-row {
  overflow: hidden;
  position: relative;
}

/* line 34, ../sass/_views.scss */
.views-field-field-youtube-thumbnail {
  float: left;
  margin-right: 0.75em;
}

/* line 38, ../sass/_views.scss */
.views-field-field-youtube-duration {
  background: none repeat scroll 0 0 #111;
  bottom: 0;
  color: #ccc;
  font-size: 0.8em;
  opacity: 0.9;
  padding: 0.25em 0.5em;
  position: absolute;
}

/* line 47, ../sass/_views.scss */
.view-youtube-feed .views-field-title {
  color: #333;
  font-size: 1em;
}

/* line 51, ../sass/_views.scss */
.view-content h3, .view-content h4 {
  margin-top: 10px;
  text-transform: none;
  font-weight: normal;
}

/* GLOBAL ********************************* */
/* ----- Body ------------------------ */
/* line 10, ../sass/global.scss */
body {
  color: #333;
  font: 14px/1.5 "myriad-pro", sans-serif;
}

/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
/* ----- Links ----------------------- */
/* line 18, ../sass/global.scss */
a, a:hover, a:focus {
  color: #00467f;
  text-decoration: none;
  word-wrap: break-word;
}

/* line 23, ../sass/global.scss */
a:hover {
  text-decoration: underline;
}

/* line 26, ../sass/global.scss */
h3 a, h4 a {
  color: #333;
}

/* HEADER ********************************* */
/* line 31, ../sass/global.scss */
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 37, ../sass/global.scss */
.breadcrumb .active {
  color: #333;
}
/* line 40, ../sass/global.scss */
.breadcrumb a {
  color: #333;
}

/* line 44, ../sass/global.scss */
.clearboth {
  clear: both;
}

/* line 45, ../sass/global.scss */
.last-updated {
  color: #acacac;
  text-align: right;
  clear: both;
}

/* line 50, ../sass/global.scss */
.pane-content .last-updated,
.front .last-updated {
  display: none;
}
