@charset "UTF-8";
/* CSS Document */



/* @group Masthead */

.banner_slider {
	position: relative;
	background: #EEEEEE url(/images/accountancy/banner-slider/banner_preloader.gif) center center no-repeat;
	margin:0 auto;
	max-width:980px;
	height:340px;
}
.banner_slider .icon {
	background-image: url(/images/accountancy/banner-slider/banner_icons.png);
	background-repeat: no-repeat;
}
.banner_slider .timer_sprite {
	background-image: url(/images/accountancy/banner-slider/banner_timer-sprite.png);
}
.banner_slider .Slides {
	z-index: 1;
	position:absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color:#f1f1f1;
}
.banner_slider .Slide {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: #f1f1f1 url(preloader.gif) center center no-repeat;
}
.banner_slider .Slide img {
	z-index: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	border: 0px;
filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
.banner_slider .Slide .txtCont {
	z-index:4;
	overflow: hidden;
	position:absolute;
	left: 0px;
	top: 0px;
	color:#FFF;
	font-family: "myriad-pro", sans-serif;
	max-width:430px;
}
.banner_slider .Slide .txtCont h1 {
	font: 600 45px/52px "proxima-nova-extra-condensed", sans-serif;
	padding-top:18px;
}
.banner_slider .Slide .txtCont a {
	position: absolute;
	bottom: 0px;
	left: 0;
	color: #000;
	background: #D5D5D5;
	font-size: 15px;
	padding: 5px 13px;
	text-decoration:none;
	width: auto;/*78px*/
	display:inline-table;
} /*added*/
/*Hyperlink Styles */
.banner_slider .noSelect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.banner_slider .buttonText { /*font-family: Arial, Helvetica, sans-serif;*/
	font-family: "myriad-pro", sans-serif;
	font-weight: bold;
	color: #000;
}
.banner_slider .buttonTextSizeNormal {
	font-size: 12px;
}
.banner_slider .buttonTextSizeTouch {
	font-size: 16px;
}
.banner_slider .captionCanvas {
	position: absolute;
	left: 0px;
	top: 0px;
}
.banner_slider .navHolder {
	position: absolute;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.banner_slider .rounded {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
}
/* For IE8 and older versions */
.banner_slider .buttonShadow {
	z-index: 1;
	position: absolute;
	background-color: #000000;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=10);
}
.banner_slider .buttonAlpha {
	z-index: 2;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=35);
}
.banner_slider .buttonTopBot {
	z-index: 3;
	position: absolute;
	left: 1px;
	right: 1px;
	top: 0px;
	height: 100%;
	filter: alpha(opacity=100);
}
.banner_slider .buttonCent {
	z-index: 4;
	position: absolute;
	left: 0px;
	top: 1px;
	width: 100%;
	filter: alpha(opacity=100);
}

/* Tablet potrait
----------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 641px) and (max-width: 768px) {
 .banner_slider .Slide .txtCont {
max-width:50%;
width:100% /*275px*/
}
 .banner_slider .Slide .txtCont h1 { 
font: 600 35px/33px "proxima-nova-extra-condensed", sans-serif;
}
 .banner_slider .Slide .txtCont p {
display:none;
}
}
/* Small Tablet
----------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 481px) and (max-width: 640px) {
 .banner_slider .Slide .txtCont {
max-width:220px;
}
 .banner_slider .Slide .txtCont h1 { 
font: 600 25px/28px "proxima-nova-extra-condensed", sans-serif;
}
 .banner_slider .Slide .txtCont p {
display:none;
}
}
/* Mobile Portrait
----------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 321px) and (max-width: 480px) {
 .banner_slider .Slide .txtCont {
max-width:150px;
left:5px !important;
}
 .banner_slider .Slide .txtCont h1 { 
font: 600 16px/16px "proxima-nova-extra-condensed", sans-serif;
margin-top:10px;
}
 .banner_slider .Slide .txtCont p {
display:none;
}
}
/* Smartphones/iPhone Portrait
----------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 241px) and (max-width: 320px) {
 .banner_slider .Slide .txtCont {
max-width:150px;
margin-left:-5px;
}
 .banner_slider .Slide .txtCont h1 {  
font: 600 20px/20px "proxima-nova-extra-condensed", sans-serif;
}
 .banner_slider .Slide .txtCont p {
display:none;
}
}
/* Small Phone
----------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 0px) and (max-width: 240px) {
 .banner_slider .Slide .txtCont {
max-width:50px;
}
 .banner_slider .Slide .txtCont h1 {
font: 600 15/15px "proxima-nova-extra-condensed", sans-serif;
}
 .banner_slider .Slide .txtCont p {
display:none;
}
}
/* @end */
