/* GLOBAL ********************************* */
/* ----- Body ------------------------ */
body {
	color: #333;
	font: 14px/1.5 "myriad-pro", sans-serif;
}
/* ----- Custom Fonts ---------------- */
/* ----- Text ------------------------ */
/* ----- Links ----------------------- */
a, a:hover, a:focus {
	color: #00467f;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h3 a, h4 a {
	color:#333;
}

/* HEADER ********************************* */
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	font-family:"proxima-nova-extra-condensed", sans-serif;
	font-weight:bold;
	text-transform:uppercase;
}

@import '_variable';
@import '_header';
@import '_front';
@import '_menu';
@import '_region';
@import '_views';
@import '_footer';