/* ----- Header Region --------------- */
.header {
	margin: 10px 0 10px;
}
/* ----- Search Box ------------------ */
#nav-search{

	#smu-navbar-collapse-search{
	margin:15px 0px;
	}
	
	.content {
		padding:0px;
	}
	#searchdropdown li {
		font-size:12px;
	}
	.input-group .form-control{ /*width:auto;*/}
	
}
.navbar-collapse.in {
    overflow-y: inherit;
}

.global-search{
	
	table, td, tr {
		border-collapse: separate;
		border-spacing: 0;
		border:none;
	}
	.gsc-input {
		padding-right: 0px;
		padding:0px !important;
		width:125px !important;
	}
	.gsc-input-box {
		height:32px !important;
	}
	td.gsc-search-button {
		/*display:none !important;*/
		width:auto;
	}
	input.gsc-search-button-v2{
	height:30px !important;
	width:auto !important;
	}
}
.smu-logo{float:left;}
.region-top-logo{float:right;}
.region-top-logo img{width:158px;float:right;}
.switcher {
	
	a {
		background: url("/sites/all/themes/smubase/images/SwitcherArrow.png") no-repeat scroll 0 0 transparent;
		display: inline-block;
		height: 19px;
		line-height: 10px;
		text-indent: -9999px;
		width: 20px;
	}
}

.popover{
	z-index:99;

	.popover-content{
		ul{
			padding-left:0px !important;
		}
		ul.popover-sub{
			padding-left:15px !important;
		}
		ul li{
			min-width:100px;
			list-style:none;
			font:14px/1.5 "myriad-pro",sans-serif;
		}
	}
}
#header-one{

	border-bottom:1px solid #f1f1f1;
    line-height: 35px;
    
	.social-menu{

		a{
		    font-size: 1.2em;
		    padding: 0 10px;
		    color:#333;
		}
		a:hover{
			color:#1a3b91;
		}
	}
	button{
		border:0px !important;
		background:transparent;
	}
	.dropdown-menu > li > a{
		width:100%;
	}
}
