/* ----- First Sidebar Menu Blocks --- */
.sidebar {

	.col-md-12 {
		padding-left:0px;
	}
	.row {
		margin-right:auto;
	}
	.nav {
		margin-left:0px;
	}
	ul.menu ul{
		padding-left:15px;
	}
	ul li.leaf {
		list-style:none;
	}
	
	ul.menu li a,
  ul.menu li span {
	  border-top: 1px solid #ccc;
	  font-family: "proxima-nova-extra-condensed", sans-serif;
	  font-size: 1.3em;
	  color: #333;
	  font-weight: bold;
	  padding: 5px 5px;
	  text-decoration: none;
	  display: inline-block;
	  width: 90%;
	}
	ul.menu li a:hover,
	ul.menu li a.active{
		color:$link_clr;
		text-decoration:none;
	}
  
  ul.side-dropdown-menu li a, 
  ul.side-dropdown-menu li span {
    font-size:14px;
    font-weight:bold;
    font-family: "myriad-pro", sans-serif;
  }
  
  ul.side-dropdown-menu li span,
  ul.side-dropdown-menu li > ul.side-dropdown-menu li span {
    cursor: pointer;
  }

  ul.menu li > ul.side-dropdown-menu li.expanded a, 
  ul.menu li > ul.side-dropdown-menu li.expanded span {
    cursor: pointer; 
    background: url("/sites/all/themes/smu/images/ico_arrow_right.png") 100% 50% no-repeat scroll transparent;
  }   
  
  ul.menu li > ul.side-dropdown-menu li.open span, 
  ul.menu li > ul.side-dropdown-menu li.open a  {
    cursor: pointer; 
    background: url("/sites/all/themes/smu/images/ico_arrow_right_down.png") 100% 50% no-repeat scroll transparent;
  } 
  
  ul.side-dropdown-menu li > ul.side-dropdown-menu li a, 
  ul.side-dropdown-menu li > ul.side-dropdown-menu li span {
    background: none !important;
    font-weight: normal;

  }
  
  ul.side-dropdown-menu li > ul.side-dropdown-menu li a.active {
    font-weight: bold;
  }  
  
  ul.side-dropdown-menu li .nolink {
    
  }
  
  li.expanded, li.collapsed, li.leaf {
    padding: 0.2em 0 0 0;
  }
	
	h2 {
		margin-bottom:10px;
		font-size:26px;
	}

	ul.side-dropdown-menu li.dropdown-submenu,
	ul.menu li.collapsed,
	ul.side-dropdown-menu li.collapsed {
    	list-style-image: none;
    	list-style-type: none;
	}

	/* ul.side-dropdown-menu li.dropdown-submenu a, */
	ul.side-dropdown-menu li.collapsed a,
	ul.menu li.collapsed a {
    background: url("/sites/all/themes/smu/images/listing-filter-hover.png") no-repeat scroll right transparent;
	}

}

/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
#admin-shortcuts {
	display:none;
}
.not-front .sidebar .block {
	margin-bottom:10px;
}

/* ----- Pager Nav ------------------- */

/* END SIDEBARS ******************************* */

/* CONTENT ******************************** */
#main {
	background: none repeat scroll 0 0 $main_bg_clr;
	border-top: 2px solid #ccc;
	margin-bottom:0px;
}
#main .block {
	margin-bottom: 0px;
}
#main-top {
	background: none repeat scroll 0 0 $main_bg_clr;
}
#main-upper {
	background: none repeat scroll 0 0 $main_upper_clr;
	border-top: 3px solid #cccccc;
}


#main-lower,
#main-bottom,
#main-bottom-2,
#main-bottom-3,
#main-bottom-4{
    border-top: 2px solid #666;
}
#main-lower .region-main-lower,
#main-bottom .region-main-bottom,
#main-bottom-2 .region-main-bottom-2,
#main-bottom-3 .region-main-bottom-3,
#main-bottom-4 .region-main-bottom-4{padding:2em 0px;}

#content-upper {
	border-bottom:1px solid $border_clr;
}
#content-lower {
	border-top: 1px solid $border_clr;
	padding-top: 1em;
}
#content-body {
	margin-bottom:30px;
}
hr {
	clear: both;
	border: none;
	background: $border_clr;
	height: 1px;
}