@media (max-width: 767px) {
	.header {
		margin: 25px 0 5px;
		.site-logo img {
			max-width: 135px;
		}
	}
	
	.main-content.row{
		padding:0px 15px;
	}
	.navbar-left {
    	float: left!important;
		width:100%;
	}

	#nav-search {
		.input-group .form-control{ width:90% !important;}
		.navbar-collapse{ overflow-x:hidden;}
		#smu-navbar-collapse-search{
			margin:15px 0px;
		}
	}
	.views-exposed-form {
		display:none;
	}

	.global-search .gsc-input{
			width:87% !important;
	}
	.navbar
	{
		.navbar-nav {
			margin: 0px;
		}
		
		.navbar-collapse {
			clear:both;
			max-height:inherit !important;
			border-color:transparent !important;
			padding:0px;
		}
		.navbar-nav > li {
			border-color: #ffffff -moz-use-text-color rgba(52, 51, 49, 0.15);
			border-top:1px solid #ffffff;
			border-bottom:1px solid rgba(52, 51, 49, 0.15);
			border-style: solid none;
			border-width: 1px medium;
			float: none;
			margin: 0;
			padding: 0;
		}
		.navbar-nav > li.last{ 
			border-bottom:none;
		}
		
		.navbar-nav > li > a,
		.navbar-nav > li > span{
			display:block;
			padding:10px;
		}
		
		
		.navbar-nav > li > a:hover, 
		.navbar-nav > li > a:focus, 
		.navbar-nav > li > a.active,
		.navbar-nav > li > span:hover, 
		.navbar-nav > li > span:focus, 
		.navbar-nav > li > span.active {
			background-color: #e7e7e7;
			color: #9a7a49;
			display: block;
			padding:10px;
		}
		
		.dropdown-menu > li > a{
			white-space:normal;
		}
	}
	.region-sidebar-first .block-menu-block{ 
		width:100%;
	}
	
	.content-first .site-sidebar-first{
	order:4;
	}
	.s-box{
	
		min-height:1px !important;
	}
	
}
.cd-dropdown{overflow-y:scroll;}