$link_clr: 			#00467f;
$link_hover_clr:    #333;
$menu_clr:          #333;
$menu_hover_clr:    #f5f5f5;
$menu_active_clr:	#9a7a49;
$menu_mobile_clr:	#092556;
$dropdown_menu_item_bg_clr:	#e7e7e7;
$slide_menu_bg_clr:			#333;
$slide_menu_item_hover_clr:	#f4f4f4;
$main_bg_clr:				#f1f1f1;
$main_top_bg_clr:			#e7e7e7; 
$main_upper_clr:			#f3f3f3; 
$border_clr:				#ddd;
$footer_bg_clr:				#edeee8;
$footer_border_top_clr:		#666;
$footer_bar_bg_clr:#aaa;
