/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */

.navbar {
	min-height: inherit;
	margin-top:10px;
	background-image: none;
	background-repeat: no-repeat;
	border-radius: inherit;
	box-shadow: none;
	background-color: transparent;
	border:none;
	margin-bottom:0px;
	z-index: 99;

	.nav > li > a,
	.nav > li > span {
		color: $menu_clr;
		font-family: "proxima-nova-extra-condensed", sans-serif;
		text-decoration: none;
		font-size: 18px;
		font-weight: bold;
		text-transform:uppercase;
		padding:6px 12px 4px 12px;
		line-height:17px;
		cursor:pointer;
	}
	.nav > li > span.nolink{
		display:block;
	}
	.navbar-nav{ clear:both;}
	.navbar-nav .open .dropdown-menu > li > a {
    	color: $menu_clr;
	}

	.navbar-toggle{
		background-color:$menu_mobile_clr;
		color:white;
	}

	.navbar-collapse {
		clear:both;
	}
	.nav > .active > a,
	.nav > .active > a:hover,
	.nav > .active > a:focus {
		background-color: transparent;
		box-shadow: none;
	}
	.navbar-nav>.open>a,
	.navbar-nav>.open>a:hover,
	.navbar-nav>.open>a:focus {
		background-color:$dropdown_menu_item_bg_clr !important;
		color:$menu_active_clr;
		background-image: none;
  		box-shadow: none; 
	}
	.navbar-nav .open .dropdown-menu>li>a:hover,
	.navbar-nav .open .dropdown-menu>li>a:focus{
		color:$menu_active_clr;
		background-color:transparent !important;
	}
	


	.navbar-nav > li > a:hover,
	.navbar-nav > li > a:focus,
	.navbar-nav > li > a.active,
	.navbar-nav > li > a.active-trail,
	.navbar-nav > li > span:hover,
	.navbar-nav > li > span:focus,
	.navbar-nav > li > span.active,
	.navbar-nav > li > span.active-trail {
		background-color: $dropdown_menu_item_bg_clr;
		color: $menu_active_clr;
	}
	
	.dropdown-menu {
		border-radius:inherit;
		border:0 none;
		z-index:9999;
		min-width:185px;
		box-shadow:inherit;
	}


	li > a:hover,
	li > a:focus {
	background-color: $dropdown_menu_item_bg_clr;
	background-image: none;
	text-decoration: none;
	}

}

.navbar-left {
    	float: right!important;
}

/* Slide Menu ************************* */
#slide-menu-wrapper{

	border-top:2px solid #333;

	.slide-menu {
		background: $slide_menu_bg_clr;
		color:white;
		height: auto;
	}
	.slide {
			margin: 0;
			padding: 0;
			border-top: solid 4px $slide_menu_bg_clr;
		}

	.btn-slide {
		display: block;
		float: right;
		height: 25px;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		text-decoration: none;
		width: 100px;
		background: $slide_menu_bg_clr;
		color: white;
		font-family: proxima-nova-extra-condensed;
		font-size: 17px;
		border-radius: 0 0 5px 5px;
		cursor:pointer;
	}

	.slide-menu ul {
		padding-left:17px;
		list-style:inherit;

		a {
			color:white;

			&:hover,
			&:focus{
				color: $slide_menu_item_hover_clr;
				text-decoration: none;
			}
		}
	}
}

/* ----- Breadcrumbs ----------------- */
.breadcrumb {
	background-color: transparent;
	border-radius: 4px;
	list-style: outside none none;
	margin-bottom: 0px;
	padding: 8px 0px;
}