/* VIEWS ********************************** */
.views-exposed-form {

	label {
		font-weight: bold;
		font-family: "proxima-nova-extra-condensed", sans-serif;
		font-size: 18px;
	}
	.views-exposed-widget {
		padding-top:5px;
		padding-right:5px;
		width:100%;
	}
	input,
	select{
		width:100%;
		border:1px solid #ddd;
	}
	.form-submit {
		width: 100%;
	}
}

.wkf-message table {
	width:100%;
}
.view-youtube-feed .views-row {
	margin-bottom: 1.25em;
}
.views-row {
	overflow: hidden;
	position: relative;
}
.views-field-field-youtube-thumbnail {
	float: left;
	margin-right: 0.75em;
}
.views-field-field-youtube-duration {
	background: none repeat scroll 0 0 #111;
	bottom: 0;
	color: #ccc;
	font-size: 0.8em;
	opacity: 0.9;
	padding: 0.25em 0.5em;
	position: absolute;
}
.view-youtube-feed .views-field-title {
	color: #333;
	font-size: 1em;
}
.view-content h3, .view-content h4 {
	margin-top:10px;
	text-transform:none;
	font-weight:normal;
}