
/* FEAURES ***************************** */
/* ----- s-box------------- */
.s-box_wrap,
.s-box-wrap{
	padding-left:1%;padding-right:1%;
	
	:hover{
		background: none repeat scroll 0 0 #f5f5f5;
	}
	
}
.s-box{
	background: none repeat scroll 0 0 #fff;
	border-top: 3px solid #666;
	box-shadow: 0 1px 0 1px #ccc, 0 0 8px 0 #ccc;
	margin-bottom: 2em;
	min-height: 320px;
	
	.content{
		padding:10px 15px;
	}
	
	h4,h4 a {
    color: #9a7a49;
    letter-spacing: 1px;
    text-transform: uppercase;
    font: 400 1.3em "proxima-nova-extra-condensed",sans-serif;
    line-height: 21px;
	}
	
	h4,h4 a:hover{
	text-decoration:none;
	}
	
	
	small{
	color:#999;
	}
}





.btn-primary{
    background: #102b72;
    color: #ffffff;
	border:#102b72;
}

.btn-primary:active, 
.btn-primary.active,
.btn-primary:hover  {
    background: #9a7a49;
	border:#9a7a49;
}


	
/* Events Listing*/
@import 'listing/_events';
/* End Events Listing */

/* News Listing*/
@import 'listing/_news';
/* End News Listing */

/* Search result Listing*/
@import 'listing/_search';
/* End Search result Listing */


/* Isotope Listing*/
@import 'listing/_isotope';
/* End Isotope Listing */


/* carousel Listing*/
@import 'listing/_carousel';
/* End carousel Listing */


/* webform Listing*/
@import 'listing/_form';
/* End webform Listing */

/* Workflow Listing*/
.view-workflow-content table{width:100%;}
/* End Workflow Listing */


