@import '_variable';


/* FOOTER ********************************* */
/* ----- Fat Footer ------------------ */
#footer {
	background: none repeat scroll 0 0 $footer_bg_clr;
	border-top: 2px solid $footer_border_top_clr;
	margin-top:0px;
	padding:2em 0 6em;

	h2 {
		text-transform: uppercase;
		line-height: initial;
		letter-spacing: 1.5px;
		font: 600 18px/22px "proxima-nova-extra-condensed",sans-serif;
	}
	
	a , h3{
		color:$footer_border_top_clr;
		font-family: "myriad-pro",sans-serif;
		font-weight: normal;
		font-size: 1em;
		line-height: 1.4em;
	}
	 a:hover {
		color:#333;
		text-decoration:none;
	}

	 a span {
		display:none;
	}

	.social-menu li {
		display:inline;
		line-height:17px;
	}
 	
	ul.social-menu {
		padding-left:0px;
		float:none;
		margin-bottom:0px;
	}
	
	.social-menu {
	
		a,.fa {
			display:inline-block;
			padding:0px 1px;
			font-size: 38px;
			color:#ccc;
		}
		a:hover,
		.fa:hover {
			color:#333;
		}
	}
	
	 .btn,
	 .btn:hover{
		margin:auto;
		padding:6px 12px;
		min-width:inherit !important;
		box-shadow:none;
	}
}

.site-footer {
	margin-bottom:0px;
}

#footer-bar {
	background: none repeat scroll 0 0 $footer_bar_bg_clr;
	bottom: 0;
	position:fixed;
	vertical-align: middle;
	width: 100%;
	margin-top:3em;
	padding:5px 0px;
	font-size:11px;
	z-index:99;
	color:white;
	height:50px;


	 a, #copyright{
		color:white;
	}
}


.back-to-top {
    position: fixed;
    bottom: 4em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(170,170,170,0.8);
    font-size: 12px;
    padding: 0.3em;
    display: none;
	z-index:9999;


	:hover {    
    background-color: rgba(135, 135, 135, 0.50);
	}
	
}

