
/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    table {
    width: 100% !important;
    }
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	/*.active > div { display:none; }*/
	.active > div:first-child { display:block; }
.item > div > a > img {
	width: auto !important;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }
}

.carousel-control{
    /* width: 11%; */
}
.carousel-inner .item .item-inner{
    padding: 5% 5% !important;
}
.carousel-control{ width:0%; }
.carousel-control.left,.carousel-control.right {background-image:none;color:#333;}
.item > div > a > img {
	max-width: 220px;
	margin: auto;
}

.carousel-wrap > div > div > h2 {
	color: #006c85;
}
.item-inner > div > div > h1 {
	text-transform: initial;
	font-size: 300%;
}