.view-events{

	.views-row{
		border-top: 1px solid #D8D8D8;
	}
	
	

	.date-wrapper{
		background: #102B72;
		color:#fff;
		text-align: center;
		float:left;
		padding:0.5em 1em;
		margin-right:0em;
		text-transform: uppercase;
		display: table-cell;
		font-family:"proxima-nova-extra-condensed", sans-serif;
		width:7%;

		ul{
			padding:0;
			margin:0;
		}

		li, li.last{
			list-style: none;
			padding:0;
			margin:0;
		}

		.views-field-field-event-date-2{
			font-size: 2em;
			line-height: 1.2em;
		}

	}
	.content-wrapper{
		float:left;
		width:93%;

		.views-field-field-image{
			float:left;
			margin-right:1.5em;
			margin-bottom:0.5em;
		}

		.title-wrapper{
			float:left;
			padding: 1.5em 0px 1.5em 15px;
		}
		
		.image-wrapper{
			float: left;
    		padding: 1.5em 0px 1.5em 15px;
		}

		.views-field-title{
			h3{
				margin-bottom: 0.25em;
			}
		}
	}
}
.views-exposed-form{
	.views-widget-filter-field_event_category_tid{
		width:100%;
	}
	
	.form-type-date-select, .date-padding, .form-type-select
	{
		width:100%;
	}

}