.faculty{
	.block-header h2{
		display:none;
	}
}
.faculty.filters {

	fieldset legend {
		padding: 0 5px 0 5px;
		text-transform: uppercase;
		margin-left: 5px;
		margin-bottom: 5px;
		background: #f1f1f1;
		float: left;
		margin-top: -10px;
		font-size: 18px;
		font-family: "proxima-nova-extra-condensed", sans-serif;
		font-weight: bold;
		width: 53%;
		border: 0;
	}
	
	ul, li{
		margin: 0;
		padding: 0 !important;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		font: inherit;
	  }
	  
	  .lastname-filter {
		margin-bottom: 20px;
		float: left;
		width: 100%;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
		border-top: 1px solid #ccc;
		margin: 30px 0px;
	}
	.table {
		margin-bottom:0px;
	}
	
	.search-name {
		background: #fff;
		width: 72% !important;
		border: 1px solid #ccc;
		margin-bottom: -10px;
		float: left;
	}
	
	.action-search {
    	margin-top: 0px !important;
    	text-align: right;
	}
	button {
		margin: 0 0 0 10px;
		height: 32px;
	}
	.ra-filters .ra-parent a.parent-term {
    	font-weight: normal !important;
	}
}
.profile-listings{

	ul, li {
		margin: 0;
		padding: 0 !important;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		font: inherit;
	} 
}