.node-type-webform{

	input.form-text,
	select.form-select{
		min-width:380px;
	}
	
	input[type=file] {
    	display: inline;
	}
	.form-type-radio label {
		display: inline;
	}

	fieldset {
		background: none repeat scroll 0 0 #FFFFFF;
		border: 1px solid #CCCCCC;
		border-radius: 4px;
		margin-bottom: 32px;
		margin-top: 10px;
		padding: 0 0 10px;
		position: relative;
		top: 12px;
	
	
		.fieldset-wrapper {
			padding:10px;
		}
		
		legend {
			background: none repeat scroll 0 0 #DBDBDB;
			border-color: #CCCCCC #CCCCCC -moz-use-text-color;
			border-image: none;
			border-style: solid solid none;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			color: #3B3B3B;
			display: block;
			font-size: 16px;
			font-weight: bold;
			height: 2em;
			left: -1px;
			line-height: 2;
			padding: 0;
			position: absolute;
			text-indent: 10px;
			text-shadow: 0 1px 0 #FFFFFF;
			top: -12px;
			width: 100%;
		}
		
	}
}