@media (min-width: 1200px) {
  /* line 3, ../sass/_responsive_lg.scss */
  .container {
    width: 996px;
  }
}
@media (max-width: 767px) {
  /* line 2, ../sass/_responsive_sm.scss */
  .header {
    margin: 25px 0 5px;
  }
  /* line 4, ../sass/_responsive_sm.scss */
  .header .site-logo img {
    max-width: 135px;
  }

  /* line 9, ../sass/_responsive_sm.scss */
  .main-content.row {
    padding: 0px 15px;
  }

  /* line 12, ../sass/_responsive_sm.scss */
  .navbar-left {
    float: left !important;
    width: 100%;
  }

  /* line 18, ../sass/_responsive_sm.scss */
  #nav-search .input-group .form-control {
    width: 100% !important;
  }

  /* line 20, ../sass/_responsive_sm.scss */
  .views-exposed-form {
    display: none;
  }

  /* line 24, ../sass/_responsive_sm.scss */
  .global-search .gsc-input {
    width: 87% !important;
  }

  /* line 30, ../sass/_responsive_sm.scss */
  .navbar .navbar-collapse {
    clear: both;
    max-height: inherit !important;
    border-color: transparent !important;
    padding: 0px;
  }
  /* line 36, ../sass/_responsive_sm.scss */
  .navbar .navbar-nav {
    margin: 15px;
  }
  /* line 37, ../sass/_responsive_sm.scss */
  .navbar .navbar-nav > li {
    border-color: #ffffff -moz-use-text-color rgba(52, 51, 49, 0.15);
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid rgba(52, 51, 49, 0.15);
    border-style: solid none;
    border-width: 1px medium;
    float: none;
    margin: 0;
    padding: 0;
  }
  /* line 47, ../sass/_responsive_sm.scss */
  .navbar .navbar-nav > li.last {
    border-bottom: none;
  }
  /* line 51, ../sass/_responsive_sm.scss */
  .navbar .navbar-nav > li > a,
  .navbar .navbar-nav > li > span {
    display: block;
    padding: 10px;
  }
  /* line 58, ../sass/_responsive_sm.scss */
  .navbar .navbar-nav > li > a:hover,
  .navbar .navbar-nav > li > a:focus,
  .navbar .navbar-nav > li > a.active,
  .navbar .navbar-nav > li > span:hover,
  .navbar .navbar-nav > li > span:focus,
  .navbar .navbar-nav > li > span.active {
    background-color: #e7e7e7;
    color: #9a7a49;
    display: block;
    padding: 10px;
  }
  /* line 70, ../sass/_responsive_sm.scss */
  .navbar .dropdown-menu > li > a {
    white-space: normal;
  }

  /* line 80, ../sass/_responsive_sm.scss */
  .region-sidebar-first .block-menu-block {
    width: 100%;
  }

  /* line 84, ../sass/_responsive_sm.scss */
  .s-box {
    min-height: 1px !important;
  }
}
