.posts {
	margin: 30px auto 0;
}
.post {
	margin: 0 0 2px;
	text-align: center;
	max-width: 100%;
}
.post img {
	padding: 0px;
	max-width: 100%;
}
.post_hover {
	padding: 0px;
	position: relative;
	overflow: hidden;
}
.post_hover:hover .caption {
	opacity: 1;
	transform: translateY(-150px);
	-webkit-transform:translateY(-150px);
	-moz-transform:translateY(-150px);
	-ms-transform:translateY(-150px);
	-o-transform:translateY(-150px);
}
.post_hover:hover .caption-text {
	top:15px;
}
.post_hover img {
	z-index: 4;
}
.post_hover .caption {
	position: absolute;
	bottom:0;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	width: 100%;
}
.post_hover .blur {
	background-color: rgba(0, 0, 0, 0.7);
	height: 176px;
	z-index: 5;
	position: absolute;
	width: 100%;
}
.post_hover .caption-text {
	z-index: 10;
	color: #fff;
	position: absolute;
	text-align: center;
	font-style:normal;
	top: -6px;
	width: 100%;
	overflow: hidden;
	padding:0px 3px;
}
.post_hover .caption-text{
line-height:13px;
}
.post_hover .caption-text h4,
.post_hover .caption-text h3,
.post_hover .caption-text h5{
font-family: "proxima-nova-extra-condensed", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}
.post_hover .caption-text h4 a,
.post_hover .caption-text h3 a,
.post_hover .caption-text h5 a,
.post_hover .caption-text h4 a:hover,
.post_hover .caption-text h3 a:hover,
.post_hover .caption-text h5 a:hover{
color:#fff;
}

/*isotope*/
/* ---- isotope ---- */
/* ---- button ---- */

.button {
  display: inline-block;
  padding: 10px 18px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: sans-serif;
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */


.element-item {

}

.btn-isotope {
    background: #9a7a49;
    color: #ffffff;
	border:#9a7a49;
}

.btn-primary:active, 
.btn-primary.active,
.btn-primary:hover {
    background:  #102b72;
    color: #ffffff;
	border: #102b72;
}
 

/*end isotope*/