.view-news{

	.views-row{
		border-top: 1px solid #D8D8D8;
	}
	
	.content-wrapper{
		float:none;
		padding:1.5em 0 1.5em 0;
		display: table-cell;

		.views-field-field-image{
			float:left;
			margin-right:1.5em;
			margin-bottom:0.5em;
		}

		.title-wrapper{
			float:left;
		}

		.views-field-title{
			h3{
				margin-bottom: 0.25em;
			}
		}
	}
}