﻿
/****************************************************************/
/* Fonts 
/****************************************************************/
@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#abril_fatfaceregular') format('svg');
}

@font-face {
  font-family: 'MyriadPro-Cond';
  src: url('../fonts/MyriadPro-Cond/MyriadPro-Cond.eot');
  src: url('../fonts/MyriadPro-Cond/MyriadPro-Cond?#iefix') format('embedded-opentype'),
       url('../fonts/MyriadPro-Cond/MyriadPro-Cond.woff') format('woff'),
       url('../fonts/MyriadPro-Cond/MyriadPro-Cond.svg#abril_fatfaceregular') format('svg');
}

p 	{ font-size: 14px; line-height: 21px; font-family: 'MyriadPro-Regular'; color: #4A4A4A; }
a 	{ color: #4A4A4A; text-decoration: none; } a:hover { opacity:0.8; color: inherit; text-decoration: none; }
h1, h1 a { font-size: 42px; font-weight: normal; font-family: 'MyriadPro-Cond'; color: #C7AA6E; line-height: 48px;  }
h2, h2 a { font-size: 32px; font-weight: normal; font-family: 'MyriadPro-Cond'; color: #18AAB0; line-height: 38px; }
h3, h3 a { font-size: 24px; font-weight: normal; font-family: 'MyriadPro-Cond'; color: #C7AA6E; }

/****************************************************************/
/* Logo 
/****************************************************************/
.smu-logo, .smu-logo-mobile, #nav-logo .hidden-sm { margin-right: 20px; }
#logo img { margin: 10px 0 0 0; }

@media (max-width: 767px) {
	#logo img {
	    margin: 0px;
	}
}

/****************************************************************/
/* Main menu  
/****************************************************************/
.navbar .nav > li  a { font-weight: normal; font-family: 'MyriadPro-Cond'; color:#3A3A3A; font-size: 18px; line-height: 23px; }
.navbar ul li, .navbar ul li.expanded, .navbar ul li.leaf { margin: 0 5px; }
.navbar .nav > li.dropdown a .caret {
	display: block;
	margin: 0 auto;
	visibility: hidden;
	position: relative;
	top:8px;
	z-index: 99999;
}

.navbar .nav a,
.navbar .nav > li.dropdown a:hover .caret,
.navbar .nav > li.dropdown:hover .caret {
	visibility: visible;
}
.navbar ul.dropdown-menu  {
	border:1px solid #EEE;
	border-bottom: 5px solid #C7AA6E !important;
	background-color:rgba(255, 255, 255, 0.9);
	padding: 0 12px;
	z-index: 99;
	font-family: 'MMyriadPro-Cond';
	text-transform: uppercase;
}

.navbar ul.dropdown-menu li a { border-bottom:1px solid #CCC; padding: 10px 0; }
.navbar ul.dropdown-menu li a:hover { color: #C7AA6E !important; }
.navbar ul.dropdown-menu li:last-child a { border: none; }


.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color: inherit;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus, .navbar .navbar-nav > li > a.active, .navbar .navbar-nav > li > a.active-trail, .navbar .navbar-nav > li > span:hover, .navbar .navbar-nav > li > span:focus, .navbar .navbar-nav > li > span.active, .navbar .navbar-nav > li > span.active-trail {
	background: transparent;
}

.navbar .navbar-toggle {
	background-color: transparent;
    color: #000;
    border:0;
    margin:0;
}

.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #C7AA6E;
	margin:7px;
	width:25px;
}

.navbar-inverse .navbar-link:hover {
	color:#000;
}

.navbar .glyphicon-search {
	font-size: 20px;
	margin: 7px 0;
}

.navbar .nav > li.dropdown a {
	z-index: 9999;
}

.navbar .nav > li.dropdown a,
.navbar .navbar-nav > li > a.active-trail {
	background: transparent;
}

.navbar .nav > li.dropdown ul.dropdown-menu a:hover {
	color: #000;
}

.not-front .navbar {
	margin-bottom: 30px;
}

@media (max-width: 767px) {
  #smu-navbar-collapse-nav {
    position: absolute;
    margin: 0;
	background-color:rgba(255, 255, 255, 0.9);
  }

  .navbar .nav > li  a {
		font-size:18px;
	}

  .navbar .nav > li.dropdown a:hover .caret {
  	display: none;
  }

  ul.navbar-nav {
	border-bottom: 5px solid #C7AA6E !important;
  }

  .navbar ul.dropdown-menu  {
  	margin: 0.75em 0;
    padding: 0 1.8em;
    list-style: none;
    border: 0 !important;
  }

  ul.dropdown-menu li:before {
  	 content: "";
    border-color: transparent #C7AA6E;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
  }

  .navbar .navbar-nav .open .dropdown-menu > li > a {
  	padding: 5px !important;
  	border: 0;
  }
}



/****************************************************************/
/* Recent Articles  
/****************************************************************/
#block-views-crea-recent-articles {
	margin: 20px 0;
}

#block-views-crea-recent-articles .block-title {
	margin-left: 15px;
}

#block-views-crea-recent-articles img {
	width: 95%;
}

#block-views-crea-recent-articles  .views-column {
	margin-bottom: 30px;
}

#block-views-crea-recent-articles .views-field-title {
	background-color: #C7AA6E;
	color:#FFFFFF;
	padding:10px;
	width: 70%;
	height: 100px;
	position: absolute;
	z-index: 1;
	bottom: -15px;
	right:15px;
}

#block-views-crea-recent-articles .views-field-title a {
	color: #FFFFFF;
}

/****************************************************************/
/* Recent Events  
/****************************************************************/
#block-views-crea-recent-events .view-content img {
	width: auto !important;
}

#block-views-crea-recent-events .view-content .views-field-field-image {
	padding-left: 0;
}

#block-views-crea-recent-events .view-content {
	margin-bottom: 45px;
}

#block-views-crea-recent-events .view-content h2,
#block-views-crea-recent-events .view-content h3,
#block-views-crea-recent-events .view-content h4,
#block-views-crea-recent-events .view-content h5,
#block-views-crea-recent-events .view-content a {
	color: #C7AA6E;
	text-transform: uppercase;
	margin: 0;
}

/****************************************************************/
/* Recent Events  
/****************************************************************/
.teaser-container {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	padding: 25px 10px;
}

.teaser-container .view-more {
	position: absolute;
	bottom: 0;
	display: block;
}

.teaser-container .teaser-title {
	margin-top: 0;
}

.teaser-container .teaser-image,
.teaser-container .teaser-content {
}

.views-row-even .teaser-container {
	background-color: rgba(216,216,216,0.2);
}

/****************************************************************/
/* Content type teaser list 
/****************************************************************/
#crea-page .crea-page-item {
	margin-bottom: 20px;
}

#crea-page .crea-page-item .teaser-title, 
#crea-page .crea-page-item .teaser-title a {
	text-transform: uppercase;
	color: #C7AA6E;
}

/****************************************************************/
/* Node
/****************************************************************/
.page-node .banner-image img {
	width: 100%;
	height: auto;
}

.page-full-quote {
	font-family: 'MyriadPro-Cond';
	font-size: 32px;
	color: #25BCCA;
	line-height: 30px;
	position: relative;
	margin-top: 20%;
}

.page-full-quote .field-name-field-quote {
	padding:10px 0;
}

.page-node .field-name-field-tags .field-item {
	float: left;
	margin-right: 10px;
}

/****************************************************************/
/* Footer 
/****************************************************************/
.region-footer h2 {
	color:#333;
}


#footer h2 {
	color: #333;
	margin-bottom: 10px;
}

/****************************************************************/
/* Region style override 
/****************************************************************/
#content-upper {
    border-bottom: 0;

}

#main, .front #main,
#main-upper {
    background: transparent;
    border-top: 0;
}

#main-lower, 
#main-bottom, 
#main-bottom-2, 
#main-bottom-3, 
#main-bottom-4 {
    border-top: 0;
}


/****************************************************************/
/* Miscellaneous 
/****************************************************************/
.block ul,
.block ol {
	padding:0;
	margin-left: 15px;
	list-style-position: outside;
	margin-bottom: 50px;
}

.block ul li,
.block ol li {
	font-family: 'MyriadPro-Regular';
	font-size: 14px;
	color: #4A4A4A;
	line-height: 21px;
}

.block-title {
	margin-left: 0;
}

.view.row {
	margin:0;
}

.front .block-crea-core {
	overflow: hidden;
	margin-bottom: 40px !important;
}

.front #footer .block-crea-core {
	overflow: hidden;
	margin-bottom: 0 !important;
}

.more-link a,
.view-more {
	text-transform: uppercase;
	font-family: 'MyriadPro-Cond';
	padding:10px 20px 5px;
	font-size: 18px;
	font-weight: normal;
	background: #C7AA6E;
	font-family: MyriadPro-Cond;
	font-size: 20px;
	color: #FFFFFF;
	line-height: 24px;
	display: inline-block;
	margin-top: 10px;
	visibility: hidden;
}

.more-link a:hover,
.view-more:hover {
	color: #EEE;
}

.more-link a::after {
	display: none;
}

.read-more {
	text-transform: uppercase;
	display: block;
	margin-top: 30px;
	font-family: 'MyriadPro-Cond';
	font-size: 20px;
	color: #C7AA6E;
	line-height: 24px;
}

.read-more:hover {
	opacity: 0.6;
}

.read-more::after {
	content: ' >>> ';
	position: relative;
	top: -2px;
	left: 5px;
}

.equal-heights .columns {
	margin-bottom: 15px;
}

.equal-heights .columns > div {
	position: relative;
}

.equal-heights .view-more,
.equal-heights .more-link a {
	position: absolute;
	bottom: 0;
}

/* For ul and ol */
.block .views-row {
	overflow: visible;
}

.block-system .views-row {
	overflow: hidden;
}

.block img {
	width:100%;
}

.page-node #block-system-main img {
	width: auto;
}

.circle {
	display: inline-block;
	z-index: 1;
	width: 30px;
	height: 30px;
	background: red;
	-moz-border-radius: 100px / 100px;
	-webkit-border-radius: 100px / 100px;
	border-radius: 100px / 100px;
	background: #18AAB0;
	opacity: 0.8;
}

.page-title h1 {
	color:#FFF;
	background-color: rgba(24, 170, 176, 0.8);
	padding:15px 15px 5px;
	padding-right: 400px;
	margin: 0;
}

.page-title {
	position: relative;
	display: inline-block;
}

.page-title .circle {
	position: absolute;
	right:-30px;
	bottom:0;
	z-index: 1;
	width: 20px;
	height: 20px;
	background: red;
	-moz-border-radius: 100px / 100px;
	-webkit-border-radius: 100px / 100px;
	border-radius: 100px / 100px;
	background: #18AAB0;
	opacity: 0.8;
}

.front ul li {
    list-style: inherit;
}

.content table, .content th, .content tr, .content tbody, .content td {
	border: 0 !important;
}

.content hr {
	border: 1px solid #ddd !important;
}





















#header-one h3 {
	color: inherit;
}

.cd-dropdown-wrapper {
	left: 15px;
}

.cd-dropdown {
	overflow: auto;
}

.pager li>a, .pager li>span {
	border: 0;
}





/* Extra Small Devices, Phones */ 
@media(max-width:767px) {
	h1 	{ font-size: 36px; line-height: 36px;  }
	.front #main .container {
		padding: 0;
	}
	.front #main .container .row {
		padding: 0;
	}

	.front #main .block .featured_image {
		padding: 0;
		margin: 10px 0;
	}

	.front #main .block .content {
		margin: 15px;
	}

	.navbar .navbar-toggle {
		padding: 0 5px;
	}

	.navbar {
		margin-bottom: 10px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


